<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Factory" >
      <section name="DALContent" type="Core.Configuration.ConfigurationSectionHandler,Core" />
    </sectionGroup>
  </configSections>
  <Factory>
    <DALContent>
      <add key="Member" value="MobileWcf.DAL" />
    </DALContent>
  </Factory>
</configuration>