# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/API/WCF/Wcf.ServiceHost/Log
/MyzjCodeRepository.suo
/MyzjMobileSite.suo
/API/WCF/Wcf.ServiceHost/Log
/Resources/Assembly/Generate