<?xml version="1.0"?>
<appSettings>

  <!--使用缓存类型-->
  <add key="Cache_Default" value="Redis" />
  <!-- Memcached || Redis -->
  <!--是否启用缓存-->
  <add key="Cache_IsEnable" value="true" />
  <!--是否启用方法执行日志-->
  <add key="EnableMethodLog" value="true" />

  <add key="Cache_Pemissions_Version" value="1.0" />
  <add key="Cache_System_Version" value="1.0" />
  <add key="Cache_Member_Version" value="1.0" />
  <add key="Cache_Goods_Version" value="1.0" />
  <add key="Cache_BaseData_Version" value="1.0" />
  <add key="Cache_Order_Version" value="1.0" />
  <add key="Cache_Cms_Version" value="1.0" />
  
  <!--Redis Begin-->
  <!--Redis 只读服务器-->
  <add key="Cache_RedisServers_readOnly" value="127.0.0.1:6380" />
  <!--Redis 读写服务器-->
  <add key="Cache_RedisServers_readWrite" value="127.0.0.1:6380" />
  <!--Redis End-->
  <!--MongoDb Begin-->
  <!--<add key="DataBase_MongoDbServer" value="127.0.0.1" />
  <add key="DataBase_MongoDbPort" value="27017" />-->
  <!--MongoDb End-->

  <!--支付 配置 Begin-->
  <add key="Payment_Alipay_NotifyUrl" value="http://m.muyingzhijia.me/callback/alipay_wap.ashx" />
  <add key="Payment_Alipay_MerchantUrl" value= "http://m.muyingzhijia.me" />
  <add key="Payment_Alipay_CallbackUrl" value="http://m.muyingzhijia.me/callback/alipay_wap.ashx" />
  <!--<add key="Payment_Alipay_Partner" value="2088201564809153" />
  <add key="Payment_Alipay_Key" value="zpdjh9ywq433ejjnkrbc5pys7ipkosnz" />
  <add key="Payment_Alipay_SellerAccount" value="alipay-test12@alipay.com" />-->
  <add key="Payment_Alipay_Partner" value="2088101117223194" />
  <add key="Payment_Alipay_Key" value="hwakiuwrt62zl7608tyiht3do632sndm" />
  <add key="Payment_Alipay_SellerAccount" value="juan519860523@hotmail.com" />
  <!--支付配置 End-->
  
  <!--图片主机地址-->
  <add key="Host_Pic" value="http://img.muyingzhijia.com/" />
  
  <!--系统key-->
  <add key="SystemKey"  value="ABEB455845604BE898F779AE0A76FFD1" />
</appSettings>
