<?xml version="1.0"?>
<appSettings>

  <add key="Cache_Default" value="Redis" />
  <!--<add key="Cache_Default" value="Memcached" />-->
  <add key="Cache_IsEnable" value="true" />

  <add key="Cache_Pemissions_Version" value="1.0" />
  <add key="Cache_System_Version" value="1.1" />
  <add key="Cache_Member_Version" value="1.2" />
  <add key="Cache_Goods_Version" value="1.3" />
  <add key="Cache_BaseData_Version" value="1.4" />
  <add key="Cache_Order_Version" value="1.5" />
  
  <!--Redis Begin-->
  <add key="Cache_RedisServers_readOnly" value="127.0.0.1:6380" />
  <add key="Cache_RedisServers_readWrite" value="127.0.0.1:6380" />
  <!--<add key="Cache_RedisServers_readOnly" value="192.168.100.41:6379" />
    <add key="Cache_RedisServers_readWrite" value="192.168.100.41:6379" />-->
  <!--Redis End-->
  <!--MongoDb Begin-->
  <add key="DataBase_MongoDbServer" value="127.0.0.1" />
  <add key="DataBase_MongoDbPort" value="27017" />
  <!--MongoDb End-->

  <!--支付 配置 Begin-->
  <add key="DataBase_Alipay_NotifyUrl" value="http://m.muyingzhijia.me/callback/alipay_notification.aspx" />
  <add key="DataBase_Alipay_MerchantUrl" value= "http://m.muyingzhijia.me" />
  <add key="DataBase_Alipay_CallbackUrl" value="http://m.muyingzhijia.me/callback/alipay_callback.aspx" />
  <add key="DataBase_Alipay_Partner" value="2088201564809153" />
  <add key="DataBase_Alipay_Key" value="zpdjh9ywq433ejjnkrbc5pys7ipkosnz" />
  <add key="DataBase_Alipay_SellerAccount" value="alipay-test12@alipay.com" />
  <!--支付配置 End-->
  
  <!--图片主机地址-->
  <add key="Host_Pic" value="http://img.muyingzhijia.com/" />
  
  <!--系统key-->
  <add key="SystemKey"  value="ABEB455845604BE898F779AE0A76FFD1" />
  <!--是否启用方法执行日志-->
  <add key="EnableMethodLog" value="true" />
</appSettings>
