<?xml version="1.0"?>
<connectionStrings>
  <add name="bbHomeEntities" connectionString="metadata=res://*/DataContext.bbHome.csdl|res://*/DataContext.bbHome.ssdl|res://*/DataContext.bbHome.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.228;Initial Catalog=bbHome;Persist Security Info=True;User ID=sa;Password=Holyca2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <add name="HolycaEntities" connectionString="metadata=res://*/DataContext.Holyca.csdl|res://*/DataContext.Holyca.ssdl|res://*/DataContext.Holyca.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.228;Initial Catalog=Holyca;Persist Security Info=True;User ID=sa;Password=Holyca2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
