<?xml version="1.0"?>
<objects xmlns="http://www.springframework.net" xmlns:aop="http://www.springframework.net/aop" >

  <!--Wcf begin-->
  <object id="PaymentService" type="Wcf.ServiceLibrary.Payment.PaymentService,Wcf.ServiceLibrary" singleton="false" />
  <object id="ManageService" type="Wcf.ServiceLibrary.Manage.ManageService,Wcf.ServiceLibrary" singleton="false" />
  <object id="OrderService" type="Wcf.ServiceLibrary.Order.OrderService,Wcf.ServiceLibrary" singleton="false" />
  <object id="BaseDataService" type="Wcf.ServiceLibrary.BaseData.BaseDataService,Wcf.ServiceLibrary" singleton="false" />
  <object id="MemberService" type="Wcf.ServiceLibrary.Member.MemberService,Wcf.ServiceLibrary" singleton="false" />
  <object id="GoodsService" type="Wcf.ServiceLibrary.Goods.GoodsService,Wcf.ServiceLibrary" singleton="false" />
  <object id="CmsService" type="Wcf.ServiceLibrary.Cms.CmsService,Wcf.ServiceLibrary" singleton="false" />

  <object id="aop_afterreturningadvice_advice" type="Wcf.SpringDotNetAdvice.AfterReturningAdvice,Wcf.SpringDotNetAdvice" />
  <object id="aop_methodbeforeadvice_advice" type="Wcf.SpringDotNetAdvice.MethodBeforeAdvice,Wcf.SpringDotNetAdvice" />
  <object id="aop_methodinterceptor_advice" type="Wcf.SpringDotNetAdvice.MethodInterceptor,Wcf.SpringDotNetAdvice" />
  <object id="aop_throwsadvice_advice" type="Wcf.SpringDotNetAdvice.ThrowsAdvice,Wcf.SpringDotNetAdvice" />

  <object id="aop_pointcut" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
    <property name="pattern" value="^Wcf.ServiceLibrary.*"/>
  </object>

  <aop:config>
    <aop:advisor pointcut-ref="aop_pointcut" advice-ref="aop_afterreturningadvice_advice" />
    <aop:advisor pointcut-ref="aop_pointcut" advice-ref="aop_methodbeforeadvice_advice" />
    <aop:advisor pointcut-ref="aop_pointcut" advice-ref="aop_methodinterceptor_advice" />
    <aop:advisor pointcut-ref="aop_pointcut" advice-ref="aop_throwsadvice_advice" />
  </aop:config>

  <!--Wcf end-->

  <!--DAL begin-->
  <!--<object id="Member" singleton="true" type="MobileWcf.DAL.Member, MobileWcf.DAL">-->
  <!--<constructor-arg name="data" ref="MyData" />-->
  <!--构造参数-->
  <!--</object>
      <object id="Goods" singleton="true" type="MobileWcf.DAL.Goods, MobileWcf.DAL" />
      <object id="Order" singleton="true" type="MobileWcf.DAL.Order, MobileWcf.DAL" />
      <object id="BaseData" singleton="true" type="MobileWcf.DAL.BaseData, MobileWcf.DAL" />-->
  <!--<alias alias="NewGoods" name="Goods"/>-->
  <!--别名-->
  <!--DAL end-->
  <!--<object id="ShoppingCartDal" singleton="true" type="MobileWcf.DAL.ShoppingCartDal, MobileWcf.DAL" />-->

</objects>
