<?xml version="1.0"?>
<appSettings>
  <add key="Set_head_Min_Com" value="jquery-1.7.2.min.js"/>
  <add key="Set_Mobile_1.1.0s" value="jquerymobile.initbefore.js,jquery.mobile-1.1.0.min.js"/>
  <add key="Set_Common_js" value="bk/jquery-jtemplates_uncompressed.js,jquery.cookie.js,json2.js,md5.js,bk/jquery.easing.1.3.js,camera.js,bk/jquery.validate.min.js,date.js" />
  <add key="Set_footer_Min_Com" value="mobile.common.js,mobile.muzj.js"/>
  <add key="WebSiteUrl" value="http://muyingzhijia.me/" />
  <add key="MobileSiteUrl" value="http://m.muyingzhijia.me/" />
  <add key="SystemType" value="MobileWebSite" />
  <add key="SystemKey" value="7776D2571AD14F72B70FEC8E37FE928D" />
</appSettings>