<?xml version="1.0" encoding="utf-8" ?>
<restful>
  <locations>
    <location name="Wcf" value="http://api.muyingzhijia.me/" ></location>
  </locations>
  <apis>
    <api name="Member.Get.Info"                     location="Wcf"      value="Member.svc/get_info" />
    <api name="Member.Login"                        location="Wcf"      value="Member.svc/login" />
    <api name="Member.logout"                       location="Wcf"      value="Member.svc/logout" />
    <api name="Member.ReLogin"                      location="Wcf"      value="Member.svc/relogin" />
    <api name="Member.Register"                     location="Wcf"      value="Member.svc/register" />
    <api name="Goods.goodList"                      location="Wcf"      value="goods.svc/get_goods_list" />
    <api name="Member.GetMember.Info"               location="Wcf"      value="Member.svc/get_member_info" />
    <api name="Goods.GetProductDetail.Info"         location="Wcf"      value="goods.svc/get_goods_info" />
    <api name="Goods.goodspic.Info"                 location="Wcf"      value="goods.svc/get_goodspic_list" />
    <api name="Goods.shoppingcartgoodsnum"          location="Wcf"      value="order.svc/get_shoppingcartgoodsnum" />
    <api name="Order.get_payment_list"              location="Wcf"      value="basedata.svc/get_payment_list" />
    <api name="BaseData.get_pay_list"               location="Wcf"      value="basedata.svc/get_pay_list" />
    <api name="Order.get_logistics_list"            location="Wcf"      value="basedata.svc/get_logistics_list" />
    <api name="Member.get_defaultaddress_info"      location="Wcf"      value="member.svc/get_defaultaddress_info" />
    <api name="Member.get_address_list"             location="Wcf"      value="member.svc/get_address_list" />
    <api name="Order.get_allregion_list"            location="Wcf"      value="basedata.svc/get_allregion_list" />
    <api name="Member.set_address_info"             location="Wcf"      value="member.svc/set_address_info" />
    <api name="Member.get_address_info"             location="Wcf"      value="member.svc/get_address_info" />
    <api name="Member.set_defaultaddress"           location="Wcf"      value="member.svc/set_defaultaddress" />
    <api name="Order.get_shoppingcartgoods_list"    location="Wcf"      value="order.svc/get_shoppingcartgoods_list" />
    <api name="Order.set_shoppingcartgoodsnum"      location="Wcf"      value="order.svc/set_shoppingcartgoodsnum" />
    <api name="Order.add_goodstoshoppingcar"        location="Wcf"      value="order.svc/add_goodstoshoppingcar" />
    <api name="Order.del_shoppingcart"              location="Wcf"      value="order.svc/del_shoppingcart" />
    <api name="Order.get_temporder_info"            location="Wcf"      value="order.svc/get_temporder_info" />
    <api name="Order.add_order_info"                location="Wcf"      value="order.svc/add_order_info" />
    <api name="Order.get_order_info"                location="Wcf"      value="order.svc/get_order_info" />
    <api name="Order.get_ordergoods_list"           location="Wcf"      value="order.svc/get_ordergoods_list" />
    <api name="Order.get_order_list"                location="Wcf"      value="order.svc/get_order_list" />
    <api name="Goods.get_goodscategory_list"        location="Wcf"      value="goods.svc/get_goodscategory_list" />
    <api name="Member.reset_member_loginpassword"   location="Wcf"      value="member.svc/reset_member_loginpassword" />
    <api name="Payment.order_payment"               location="Wcf"      value="Payment.svc/order_payment" />
    <api name="Order.orderpayment_success"          location="Wcf"      value="Order.svc/orderpayment_success" />

    <api name="Cms.get_columndata_list"             location="Wcf"      value="Cms.svc/get_columndata_list" />
    <api name="Cms.get_columndata_info"             location="Wcf"      value="Cms.svc/get_columndata_info" />
    <api name="Cms.get_notice_list"                 location="Wcf"      value="Cms.svc/get_notice_list" />
    <api name="Cms.get_notice_info"                 location="Wcf"      value="Cms.svc/get_notice_info" />
    
    
  </apis>
</restful>