<?xml version="1.0" encoding="utf-8"?>

<SiteUrls>
  <locations>
    <location name="Web"      path="http://m.muyingzhijia.me/" ></location>
    <location name="Pic"      path="http://img.muyingzhijia.com/" ></location>
    <location name="Themes"   path="http://m.muyingzhijia.me/" ></location>
    <location name="Js"       path="http://m.muyingzhijia.me/" ></location>
    <location name="B2C"      path="http://muyingzhijia.me/"  ></location>
  </locations>
  <urls>
    <url name="WebRoot"       location="Web"    path="" ></url>
    <url name="PicRoot"       location="Pic"    path="" ></url>
    <url name="JsRoot"        location="Js"     path="js/" ></url>
    <url name="ThemesRoot"    location="Themes" path="style/" ></url>
    <url name="B2CSite"       location="B2C"    path=""></url>
    
    <url name="index"         location="Web"   path="index.aspx" ></url>
    <url name="forgetpassword"         location="Web"   path="forgetpassword.aspx" ></url>

    <url name="MyHome"        location="Web"   path="member/myhome.aspx" ></url>
    <url name="myaccount"         location="Web"   path="member/myaccount.aspx" ></url>

    <url name="Login"         location="Web"   path="login.aspx?returnurl={0}" ></url>
    <url name="registration"         location="Web"   path="registration.aspx" ></url>

    <url name="productdetailinfo"         location="Web"   path="product/productdetailinfo.aspx?gid={0}" ></url>
    <url name="productlist"         location="Web"   path="product/productlist.aspx" ></url>
    <url name="category"         location="Web"   path="product/category.aspx" ></url>
    <url name="category_sub"         location="Web"   path="product/category_sub.aspx" ></url>

    <url name="noticelist"         location="Web"   path="noticelist.aspx" ></url>
    <url name="noticedetail"         location="Web"   path="noticedetail.aspx?notice_id={0}" ></url>

    <url name="shoppingcart"         location="Web"   path="checkout/shoppingcart.aspx" ></url>
    
    <url name="address_add"         location="Web"   path="checkout/address_add.aspx" ></url>
    <url name="address_edit"         location="Web"   path="checkout/address_edit.aspx?address_id={0}" ></url>
    <url name="addresslist"         location="Web"   path="checkout/addresslist.aspx" ></url>
    <url name="deliverylist"         location="Web"   path="checkout/deliverylist.aspx" ></url>
    <url name="invoice"         location="Web"   path="checkout/invoice.aspx" ></url>

    <url name="makeorder"         location="Web"   path="checkout/makeorder.aspx" ></url>
    <url name="onlinepayment"         location="Web"   path="checkout/onlinepayment.aspx?ocode={0}&amp;paygroup={1}" ></url>
    <url name="orderconfirm"         location="Web"   path="checkout/orderconfirm.aspx" ></url>
    <url name="orderdetail"         location="Web"   path="Member/orderdetail.aspx?ocode={0}" ></url>
    <url name="orderlist"         location="Web"   path="Member/orderlist.aspx" ></url>

    <url name="paymentlist"         location="Web"   path="checkout/paymentlist.aspx" ></url>
    <url name="twomonths"         location="Web"   path="checkout/twomonths.aspx" ></url>
    <url name="goodstopic"      location="Web" path="goodstopic.aspx?id={0}&amp;code={1}" ></url>

  </urls>
</SiteUrls>