<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--此配置节点来自 Core. -->
    <sectionGroup name="Factory" >
      <section name="DALContent" type="Core.ConfigUtility.MConfigurationSectionHandler, Core., Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>
  <!--此配置节点来自 Core. -->
  <Factory>
    <DALContent>
      <add key="Member" value="MobileWcf.DAL" />
      <add key="Goods" value="MobileWcf.DAL" />
    </DALContent>
  </Factory>
  <connectionStrings>
    <add name="bbHomeEntities" connectionString="metadata=res://*/DataContext.bbHome.csdl|res://*/DataContext.bbHome.ssdl|res://*/DataContext.bbHome.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.233;Initial Catalog=bbHome;Persist Security Info=True;User ID=sa;Password=Holyca20110902;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="HolycaEntities" connectionString="metadata=res://*/DataContext.Holyca.csdl|res://*/DataContext.Holyca.ssdl|res://*/DataContext.Holyca.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.100.233;Initial Catalog=Holyca;Persist Security Info=True;User ID=sa;Password=Holyca20110902;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"></requestFiltering>
    </security>
  </system.webServer>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="Wcf.ServiceLibrary.Member">
        <endpoint address="" binding="wsHttpBinding" contract="Wcf.ServiceLibrary.IMember">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Member/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf.ServiceLibrary.Goods">
        <endpoint address="" binding="wsHttpBinding" contract="Wcf.ServiceLibrary.IGoods">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Goods/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf.ServiceLibrary.Manage.ManageService">
        <endpoint address="" binding="wsHttpBinding" contract="Wcf.ServiceLibrary.Manage.IManageService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Wcf.ServiceLibrary.Manage/ManageService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf.ServiceLibrary.Payment.PaymentService">
        <endpoint address="" binding="wsHttpBinding" contract="Wcf.ServiceLibrary.Payment.IPaymentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Wcf.ServiceLibrary.Payment/PaymentService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Wcf.ServiceLibrary.Cms.CmsService">
        <endpoint address="" binding="wsHttpBinding" contract="Wcf.ServiceLibrary.Cms.ICmsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Wcf.ServiceLibrary.Cms/CmsService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Wcf.ServiceLibrary.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
